/* === Buzz-sida === */

.bg-custom {
    background: #130824 !important;
}



body,
p,
li,
a,
span,
div,
ul {
    font-family: 'Tektur', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Overpass Mono', monospace !important;
}


/* Back-knapp med underline-hover*/
.back-btn {
    position: relative;
    text-decoration: none;
}

.back-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background: #F6FF4C;
    transition: width 0.3s ease;
}

.back-btn:hover::after {
    width: 100%;
}

.back-btn:hover {
    color: #F6FF4C !important;
}


/* Understrykningseffekt på sidebar-länkar */
.sidebar a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 0.9rem;      
    transition: color 0.3s ease;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background: #F6FF4C;
    transition: width 0.3s ease;
}

.sidebar a:hover::after {
    width: 100%;
}

.sidebar a {
    color: #F6FF4C !important;
}
.col-right .sidebar h3 {
    font-size: 1rem;          
    margin-bottom: 0.5rem;
  }

.date {
    color: #F6FF4C !important;
    font-size: 0.875rem;
}

code {
    color: #F6FF4C !important;
}

#tech-stack h2 {
    font-family: 'Overpass Mono', monospace !important;
}

/* Key Features */
#features h2 {
    font-family: 'Overpass Mono', monospace;

}

#features p {
    font-family: 'Tektur', sans-serif;
    margin: 0;
    font-size: 0.9rem;
}

#features i {
    display: block;
}

#features i {
    color: #F6FF4C !important;
}

#tech-stack ul {
    list-style-type: square !important;
    list-style-position: inside !important;
    padding-left: 1.5rem !important;
}

#tech-stack li {
    font-family: 'Tektur', sans-serif !important;
}

#tech-stack ul li::marker {
    color: #F6FF4C;
}

/* Gul linje under rubriker */
.section-underline {
    display: block;
    width: 340px;
    margin: -0.5rem 0 1.5rem 0;
    border: none;
    border-top: 3px solid #F6FF4C;
    opacity: 1;
}

p,
.lead,
li {
    line-height: 1.7;
}


h1.display-4 {

    font-size: 2.5rem;
}


#features .row>div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#features .row>div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.col-left {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  .col-left > * {
    width: 100%;
    max-width: 700px;       
  }

  .col-right {
    border-left: 1px solid rgba(255,255,255,0.3); 
    font-weight: 300;
  }
  section {
    padding: 1rem 0;  
  }
  .section-underline {
    margin-top: 0.5rem;    
    margin-bottom: 1.5rem; 
  }
  
  
